body{
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif  ;
    background-image: url("../images/233.jpg");
    background-size: cover;
}
span{
    font-family: "Ubuntu", sans-serif;
    color: #52734D;
    font-weight: bolder;
    font-size: 2rem;
}
li{
    color: #52734D ;
    font-size: 16px;
    font-family: "Anta", sans-serif;
}
.size{
    font-size: 20px;
    text-decoration: none;
    
}
.nav-link{
    color: #52734D !important;
    font-weight: 100;
    font-family: "Anta", sans-serif;
    font-size: larger;
    
}
.navbar {
    background-color: #fff; /* Background color */
    border-bottom: solid #52734D 2px;
   
}

.active1{
    background-color: #52734D;
    border-radius: 20px;
}

.li{
    color: #fff !important;
}
span {
    background: linear-gradient(to right, #52734D, #ADBC9F);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
}
.profile{
    height: 30px;
}
.h1{
    text-align: center;
    padding: 10px;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 40px;
    margin-bottom: 20px;
}

.container{
    position: relative;
    height: 500px;
    width: 870px;
    margin-top: 50px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fff;
}

.topic{
    margin-left: 20px;
}

.mess{
    margin-left: 10px;
}

.fStyle{
    width: 300px;
    margin: 10 10 20 10;
    border: 0;
    border-bottom: 2px solid gray;
    background-color: #fff;
    outline: 0;
}

.forum{
    width: 50%;
    margin: 50 0 0 40;
}

.submit{
    padding: 6px 130px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #52734D;
    color: #fff;
    border: 0;
    border-radius: 12px;
}

.info{
    position: relative;
    width: 50%;
    left: 520px;
    bottom: 320px;
    color: #fff;
    background-color:#52734D;
    padding: 30px;
    overflow-x: hidden;
    border-radius: 20px;
}

p{
    color: gray;
}