body{
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif  ;
    background-image: url("../images/233.jpg");
    background-size: cover;
}
span{
    font-family: "Ubuntu", sans-serif;
    color: #52734D;
    font-weight: bolder;
    font-size: 2rem;
}
li{
    color: #52734D ;
    font-size: 16px;
    font-family: "Anta", sans-serif;
}
.size{
    font-size: 20px;
    text-decoration: none;
    
}
.nav-link{
    color: #52734D !important;
    font-weight: 100;
    font-family: "Anta", sans-serif;
    font-size: larger;
    
}
.navbar {
    background-color: #fff; /* Background color */
    border-bottom: solid #52734D 2px;
   
}
.btn-shadow{
    border:solid #52734D ;
    border-radius: 20px;
}
span {
    background: linear-gradient(to right, #52734D, #ADBC9F);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
}
h1{
    color:#52734D;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.container{

    height: 300px;
    width: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 200px;
}

button{
    position: relative;
    left: 170px;
    top: 20px;
    color: #52734D;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    border: solid #52734D 3px ;
    
}